body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #e0f7fa, #ffffff);
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.header {
    margin-bottom: 30px;
}

.icon {
    width: 80px;
}

h1 {
    color: #00796b;
}

.section {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-top: 20px;
    transition: 0.5s;
}

.hidden {
    display: none;
}

.buttons button {
    margin: 8px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #26a69a;
    color: white;
    cursor: pointer;
}

.buttons button.active {
    background: #ef5350;
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
}

.check-btn {
    margin-top: 20px;
    padding: 15px 25px;
    background: #00796b;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
